## MONEXO DPD CASE STUDY(EVALUATIONG ELIGIBILITY FOR LOAN)
## AUTHOR - RAMEEZ RAZA
## Part-2

## IMPORTING IMPORTANT LIBRARIES

In [57]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.decomposition import PCA
import warnings
warnings.filterwarnings('ignore')

## READING THE DATA

In [34]:
data=pd.read_csv('C:/Users/Administrator/Desktop/reconfirmationofinterview/Datafinal.csv', encoding='latin')
print(data.shape)
data.head()

(1990, 37)

,Linkedin.is.Verified,Facebook.is.Verified,Date.of.Birth,Gender,Education.Level,No.of.dependents,Detailed.reason.by.Applicant,CRIF.S1.Score,Application.incomplete.date,Loan.Amount,...,Residential.status,UTM.Source,Created.Date,pymt_standing,Interest.Rate,Maturity.Date,Total.Amount.Paid,Principal.Advance.Remaining,Delinquent.Amount,Fee.Set
0,NaN,NaN,03-07-1980,Male,Professional,1 to 2,I am working as Software Eng in a IT firm sinc...,753.0,01-03-2017,200000,...,Rented,NaN,18-11-2016,Active - Good Standing,16.41,04-01-2020,113840.00,123741.56,0.00,1-M3
1,NaN,NaN,06-02-1983,Male,Graduate,1 to 2,I am working as an analyst Programmer in a IT ...,NaN,18-11-2016,85000,...,Rented,NaN,18-11-2016,Active - Good Standing,19.50,12-01-2018,87209.00,16762.90,0.00,1-M5
2,NaN,NaN,20/12/1994,Male,Upto Hr Secondary,0,I have enough salary enough that i can take ca...,NaN,19-11-2016,50000,...,Self or spouse owned,NaN,19-11-2016,Active - Bad Standing,16.07,12-01-2018,31222.92,30407.81,19500.56,1-M3
3,NaN,NaN,20/4/1981,Male,Graduate,1 to 2,"Hi team my name is Balaji Polam,from last mont...",NaN,20-11-2016,130000,...,Self or spouse owned,NaN,20-11-2016,Closed - Obligations met,24.23,12-01-2019,174238.16,0.00,0.00,1-M7
4,NaN,NaN,29/5/1977,Male,Post Graduate,3 to 5,I want to pay children's education fess and my...,NaN,21-11-2016,85000,...,Company Quarters,NaN,21-11-2016,Active - Good Standing,19.55,12-01-2019,63229.00,47146.24,0.00,1-M5

## COUNTING THE NULL VALUES

In [35]:
data.isnull().sum()

Linkedin.is.Verified                        1443
Facebook.is.Verified                        1186
Date.of.Birth                                  3
Gender                                         3
Education.Level                                3
No.of.dependents                               3
Detailed.reason.by.Applicant                   7
CRIF.S1.Score                                188
Application.incomplete.date                   95
Loan.Amount                                    0
Payment.Amount                                 0
Interest.Paid                                  0
Principal.Advance.Paid                         0
Contract.Date                                  0
EPFO.Verification.Status                    1990
Marital.status                                 3
Total.years.of.experience.in.Employment.       3
Application.Completion.time                   18
Term                                           0
First.Payment.Date.y                           0
Estimated.Interest                             0
Last.Payment.Date                            195
Bank.Transactions.Fetched                      3
Debt.service.ratio                            17
Application.ID                                 3
Salary.Income.current.month                    3
CL.Purpose..Name                               3
Residential.status                             3
UTM.Source                                   940
Created.Date                                   3
pymt_standing                                  0
Interest.Rate                                  0
Maturity.Date                                  0
Total.Amount.Paid                              0
Principal.Advance.Remaining                    0
Delinquent.Amount                              0
Fee.Set                                        0
dtype: int64

## CLEANING THE DATA

In [36]:
df=data.drop(['Linkedin.is.Verified','Facebook.is.Verified','EPFO.Verification.Status','UTM.Source','Detailed.reason.by.Applicant'],axis=1)

In [37]:
df['CRIF.S1.Score'].fillna(0, inplace=True)

In [38]:
df.head(1)

,Date.of.Birth,Gender,Education.Level,No.of.dependents,CRIF.S1.Score,Application.incomplete.date,Loan.Amount,Payment.Amount,Interest.Paid,Principal.Advance.Paid,...,CL.Purpose..Name,Residential.status,Created.Date,pymt_standing,Interest.Rate,Maturity.Date,Total.Amount.Paid,Principal.Advance.Remaining,Delinquent.Amount,Fee.Set
0,03-07-1980,Male,Professional,1 to 2,753.0,01-03-2017,200000,7114.15,37581.56,76258.44,...,Home renovation,Rented,18-11-2016,Active - Good Standing,16.41,04-01-2020,113840.0,123741.56,0.0,1-M3

In [39]:
for i in df.columns:
    df[i].fillna(df[i].mode()[0], inplace=True)
print(df.isnull().sum())

Date.of.Birth                               0
Gender                                      0
Education.Level                             0
No.of.dependents                            0
CRIF.S1.Score                               0
Application.incomplete.date                 0
Loan.Amount                                 0
Payment.Amount                              0
Interest.Paid                               0
Principal.Advance.Paid                      0
Contract.Date                               0
Marital.status                              0
Total.years.of.experience.in.Employment.    0
Application.Completion.time                 0
Term                                        0
First.Payment.Date.y                        0
Estimated.Interest                          0
Last.Payment.Date                           0
Bank.Transactions.Fetched                   0
Debt.service.ratio                          0
Application.ID                              0
Salary.Income.current.month                 0
CL.Purpose..Name                            0
Residential.status                          0
Created.Date                                0
pymt_standing                               0
Interest.Rate                               0
Maturity.Date                               0
Total.Amount.Paid                           0
Principal.Advance.Remaining                 0
Delinquent.Amount                           0
Fee.Set                                     0
dtype: int64

In [40]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
newdf = df.select_dtypes(include=numerics)
newdf.head(1)

,CRIF.S1.Score,Loan.Amount,Payment.Amount,Interest.Paid,Principal.Advance.Paid,Total.years.of.experience.in.Employment.,Term,Estimated.Interest,Bank.Transactions.Fetched,Debt.service.ratio,Salary.Income.current.month,Interest.Rate,Total.Amount.Paid,Principal.Advance.Remaining,Delinquent.Amount
0,753.0,200000,7114.15,37581.56,76258.44,11.0,36,56109.3,0.0,47.54,33832.0,16.41,113840.0,123741.56,0.0

In [41]:
newdf['answer']=df['pymt_standing']

## TRAIN TEST SPLIT

In [43]:
from sklearn.model_selection import train_test_split
dfd= pd.get_dummies(newdf.drop('answer',axis=1))
dfd['answer']=newdf['answer']

In [44]:
train, test = train_test_split(dfd,test_size=0.3,random_state=100)
train_x = train.drop('answer', axis=1)
train_y = train['answer']
test_x = test.drop('answer', axis=1)
test_y = test['answer']

In [45]:
train_x.shape,train_y.shape

((1393, 15), (1393,))

In [46]:
test_x.shape,test_y.shape

((597, 15), (597,))

## CHECKING THE ACCURACIES FOR DIFFERENT MACHINE LEARNING MODELS

In [47]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
l=[]
model_1aa=DecisionTreeClassifier(max_depth=3)
model_2aa=RandomForestClassifier(n_estimators=100)
model_3aa=KNeighborsClassifier(n_neighbors=5)
model_4aa=AdaBoostClassifier(n_estimators=100)
model_5aa=GaussianNB()
a=(model_1aa,model_2aa,model_3aa,model_4aa,model_5aa)
for i in a:
    i.fit(train_x,train_y)
    pred_test=i.predict(test_x)
    a=accuracy_score(test_y,pred_test)
    l.append(a*100)
df=(pd.DataFrame({'Accuracy':l},index=['Decision Tree','Random Forest','KNN','Ada Boost','Naive Bayes']).sort_values('Accuracy',ascending=False))
df

                Accuracy
Decision Tree  99.664992
Random Forest  99.664992
Ada Boost      99.664992
Naive Bayes    98.659966
KNN            91.959799

## TAKING ADA-BOOST AS OPTIMAL CLASSIFIER.
## TESTING IT ON THE TEST DATASET CREATED MANUALLY

In [48]:
zzzz=pd.read_csv('C:/Users/Administrator/Desktop/reconfirmationofinterview/TESTING.csv')
zzzz.columns,zzzz.shape

(Index(['Linkedin.is.Verified', 'Facebook.is.Verified', 'Date.of.Birth',
        'Gender', 'Education.Level', 'No.of.dependents',
        'Detailed.reason.by.Applicant', 'CRIF.S1.Score',
        'Application.incomplete.date', 'Loan.Amount', 'Payment.Amount',
        'Interest.Paid', 'Principal.Advance.Paid', 'Contract.Date',
        'EPFO.Verification.Status', 'Marital.status',
        'Total.years.of.experience.in.Employment.',
        'Application.Completion.time', 'Term', 'First.Payment.Date.y',
        'Estimated.Interest', 'Last.Payment.Date', 'Bank.Transactions.Fetched',
        'Debt.service.ratio', 'Application.ID', 'Salary.Income.current.month',
        'CL.Purpose..Name', 'Residential.status', 'UTM.Source', 'Created.Date',
        'Interest.Rate', 'Maturity.Date', 'Total.Amount.Paid',
        'Principal.Advance.Remaining', 'Delinquent.Amount', 'Fee.Set'],
       dtype='object'), (9, 36))

In [56]:
ain=input('enter path of file (eg: C:/Users/Administrator/Desktop/TEST.csv)')
testing=pd.read_csv(ain)
data11=testing
df11=data11.drop(['Linkedin.is.Verified','Facebook.is.Verified','EPFO.Verification.Status','UTM.Source','Detailed.reason.by.Applicant'],axis=1)
df11['CRIF.S1.Score'].fillna(0, inplace=True)
for i in df11.columns:
    df11[i].fillna(df11[i].mode()[0], inplace=True)
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
newdf11 = df11.select_dtypes(include=numerics)
test_pred = model_4aa.predict(newdf11)
df_test_pred = pd.DataFrame(test_pred, columns=['Model_predciction'])
df_test_pred['row_number'] = newdf11.index + 1
df_test_pred[['row_number', 'Model_predciction']].to_csv('submission.csv', index=False)
pd.read_csv('submission.csv')

enter path of file (eg: C:/Users/Administrator/Desktop/TEST.csv)C:/Users/Administrator/Desktop/reconfirmationofinterview/TESTING.csv

   row_number         Model_predciction
0           1    Active - Good Standing
1           2    Active - Good Standing
2           3     Active - Bad Standing
3           4  Closed - Obligations met
4           5    Active - Good Standing
5           6  Closed - Obligations met
6           7    Active - Good Standing
7           8    Active - Good Standing
8           9    Active - Good Standing